.consists
    .consists-desctop
        .consists-teams
            .consists-flexbox
                .consists-left
                    .team_card
                        img(src="img/team.png", alt="")
                        p ВВА-Подмосковье
                .consists-right
                    .team_card
                        img(src="img/team.png", alt="")
                        p Красный Яр

        .consists-positinos
            .consists-title
                p Основной состав
            .consists-flexbox
                .consists-left
                    table.table
                        tbody
                            tr
                                td <span>1</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>2</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>3</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>4 </span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>5</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>6</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>7</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>8</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>9</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>10</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>11</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>12</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>13</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>14</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td 15
                                td Ислам Абдулкадиров
                                td Столб
                .consists-right
                    table.table
                        tbody
                            tr
                                td 1
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 2
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 3
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 4 
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 5
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 6
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 7
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 8
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 9
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 10
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 11
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 12
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 13
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 14
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 15
                                td Ислам Абдулкадиров
                                td Столб

        .consists-positinos
            .consists-title
                p Замена
            .consists-flexbox
                .consists-left
                    table.table
                        tbody
                            tr
                                td 16
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 17
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 18
                                td Ислам Абдулкадиров
                                td.table-end
                                    button.replacement_player-button.js-column_data-source(data-content='[{"title":"Вместо:", "content":"Артём Марченко"}, {"title":"Позиция:", "content":"Вингер"}]')
                            tr
                                td 19 
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 20
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 21
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 22
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 23
                                td Ислам Абдулкадиров
                                td Столб   
                .consists-right
                    table.table
                        tbody
                            tr
                                td 16
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 17
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 18
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 19 
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 20
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 21
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 22
                                td Ислам Абдулкадиров
                                td Столб
                            tr
                                td 23
                                td Ислам Абдулкадиров
                                td Столб
    .consists-mobile 
        .switcher.js-switcher
            ul 
                li(data-for="#submoskow").active ВВА-Подмосковье
                li(data-for="#red_yar") Красный Яр

        .consists-block.switcher-block.js-switcher-block.active#submoskow
            .consists-item
                .consists-title
                    b Основной состав
                .consists-body
                    table.table
                        tbody
                            tr
                                td <span>1</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>2</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>3</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>4 </span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>5</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>6</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>7</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>8</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>9</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>10</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>11</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>12</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>13</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>14</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td 15
                                td Ислам Абдулкадиров
                                td Столб
            .consists-item
                .consists-title
                    b Замена
                .consists-body
                    table.table
                        tbody
                            tr
                                td <span>1</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>2</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>3</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>4 </span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>5</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>6</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>7</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>8</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>9</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>10</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>11</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>12</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>13</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>14</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td 15
                                td Ислам Абдулкадиров
                                td Столб

        .consists-block.switcher-block.js-switcher-block#red_yar
            .consists-item
                .consists-title
                    b Основной состав 2
                .consists-body
                    table.table
                        tbody
                            tr
                                td <span>1</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>2</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>3</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>4 </span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>5</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>6</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>7</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>8</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>9</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>10</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>11</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>12</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>13</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>14</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td 15
                                td Ислам Абдулкадиров
                                td Столб
            .consists-item
                .consists-title
                    b Замена
                .consists-body
                    table.table
                        tbody
                            tr
                                td <span>1</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>2</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>3</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>4 </span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>5</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>6</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>7</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>8</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>9</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>10</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>11</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>12</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>13</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td <span>14</span>
                                td Ислам Абдулкадиров
                                td <span>Столб</span>
                            tr
                                td 15
                                td Ислам Абдулкадиров
                                td Столб