.match_single_actions
    .match_single_actions-deadline
        .match_deadline#match_deadline
            .match_deadline-title
                h3 До начала матча:
            .match_deadline-body
                .match_deadline-head
                    .match_deadline-col-b
                        span дней
                    .match_deadline-col-s
                    .match_deadline-col-b
                        span часов
                    .match_deadline-col-s
                    .match_deadline-col-b
                        span минут
                .match_deadline-time.js-timer(data-deadline="2022-12-15 1:00:00")
                    .match_deadline-col-b
                        span.js-timer-days 15
                    .match_deadline-col-s
                        span :
                    .match_deadline-col-b
                        span.js-timer-hours 12
                    .match_deadline-col-s
                        span :
                    .match_deadline-col-b
                        span.js-timer-minutes 02