.progress
    .progress-head
        .progress-left
            .team_card
                p ВВА-Подмосковье
                img(src="img/team.png", alt="")

        .progress-middle
            h3 Ход матча
        .progress-right
            .team_card
                img(src="img/team.png", alt="")
                p Красный Яр

    .progress-body
        .half_item
            .half_item-title
                h4 1 тайм

            .half_item-content
                ul
                    li.half_item-item
                        .half_item-left.half_item-empty
                        .half_item-team_logo
                            img(src="img/team.png", alt="")
                        span.half_item-num 13`
                        .half_item-right
                            .half_item-player
                                .player_mini_card
                                    .player_mini_card-action
                                        button.replacement_player-button
                                    .player_mini_card-avatar
                                        img(src="img/player.png", alt="")
                                    .player_mini_card-info
                                        span Временная замена
                                        p Игорь Галиновский
                                        span Кирилл Алюк
                    li.half_item-item
                        .half_item-left
                            .half_item-player
                                .player_mini_card.player_mini_card-reverse
                                    
                                    .player_mini_card-info
                                        span Дроп-гол
                                        p Игорь Галиновский
                                        span Кирилл Алюк
                                    
                                    .player_mini_card-avatar
                                        img(src="img/player.png", alt="")
                                    .player_mini_card-action
                                        .player_action_blue дг
                        .half_item-team_logo
                            img(src="img/team.png", alt="")
                        span.half_item-num 17`
                        .half_item-right.half_item-empty
                    li.half_item-item
                        .half_item-left.half_item-empty
                        .half_item-team_logo
                            img(src="img/team.png", alt="")
                        span.half_item-num 21`
                        .half_item-right
                            .half_item-player
                                .player_mini_card
                                    .player_mini_card-action
                                        .player_action_blue п
                                    .player_mini_card-avatar
                                        img(src="img/player.png", alt="")
                                    .player_mini_card-info
                                        span Попытка
                                        p Роберт Сутидзе

                    li.half_item-item
                        .half_item-left.half_item-empty
                        .half_item-team_logo
                            img(src="img/team.png", alt="")
                        span.half_item-num 21`
                        .half_item-right
                            .half_item-player
                                .player_mini_card
                                    .player_mini_card-action
                                        button.replacement_player-button.replacement_player-button-orange
                                    .player_mini_card-avatar
                                        img(src="img/player-default.svg", alt="")
                                    .player_mini_card-info
                                        span Замена по травме головы
                                        p Александр Ильин
                                        span Григорий Цнобиладзе

                    li.half_item-item
                        .half_item-left
                            .half_item-player
                                .player_mini_card.player_mini_card-reverse
                                    
                                    .player_mini_card-info
                                        span Штрафная попытка
                                        p Заур Гасанов
                                    
                                    .player_mini_card-avatar
                                        img(src="img/player.png", alt="")
                                    .player_mini_card-action
                                        .player_action_blue шп
                        .half_item-team_logo
                            img(src="img/team.png", alt="")
                        span.half_item-num 32`
                        .half_item-right.half_item-empty

                    li.half_item-item
                        .half_item-left
                            .half_item-player
                                .player_mini_card.player_mini_card-reverse
                                    
                                    .player_mini_card-info
                                        span Штрафной
                                        p Дмитрий Кровяков
                                    
                                    .player_mini_card-avatar
                                        img(src="img/player.png", alt="")
                                    .player_mini_card-action
                                        .player_action_blue ш
                        .half_item-team_logo
                            img(src="img/team.png", alt="")
                        span.half_item-num 44`
                        .half_item-right.half_item-empty
                            
        .half_item
            .half_item-title
                h4 2 тайм

            .half_item-content
                ul
                    li.half_item-item
                        .half_item-left
                            .half_item-player
                                .player_mini_card.player_mini_card-reverse
                                    
                                    .player_mini_card-info
                                        span Замена по крови
                                        p Евгений Кароннов
                                        span Михаил Бабаев
                                    
                                    .player_mini_card-avatar
                                        img(src="img/player.png", alt="")
                                    .player_mini_card-action
                                        button.replacement_player-button.replacement_player-button-red
                        .half_item-team_logo
                            img(src="img/team.png", alt="")
                        span.half_item-num 66’
                        .half_item-right.half_item-empty

                    li.half_item-item
                        .half_item-left.half_item-empty
                        .half_item-team_logo
                            img(src="img/team.png", alt="")
                            
                        span.half_item-num 72`
                        .half_item-right
                            .half_item-player
                                .player_mini_card
                                    .player_mini_card-action
                                        .fine.fine-red

                                    .player_mini_card-avatar
                                        img(src="img/player.png", alt="")
                                    
                                    .player_mini_card-info
                                        span Красная карточка
                                        p Денис Барабанцев

                    li.half_item-item
                        .half_item-left
                            .half_item-player
                                .player_mini_card.player_mini_card-reverse
                                    
                                    .player_mini_card-info
                                        span Реализация
                                        p Александр Иванов
                                    
                                    .player_mini_card-avatar
                                        img(src="img/player.png", alt="")
                                    .player_mini_card-action
                                        .player_action_blue р
                        .half_item-team_logo
                            img(src="img/team.png", alt="")
                        span.half_item-num 78`
                        .half_item-right.half_item-empty

                    li.half_item-item
                        .half_item-left.half_item-empty
                        .half_item-team_logo
                            img(src="img/team.png", alt="")
                        span.half_item-num 80`
                        .half_item-right
                            .half_item-player
                                .player_mini_card
                                    .player_mini_card-action
                                        .fine.fine-yellow

                                    .player_mini_card-avatar
                                        img(src="img/player.png", alt="")
                                    
                                    .player_mini_card-info
                                        span Желтая карточка
                                        p Денис Барабанцев
                                    
    .progress-footer
        .score
            .score-logo_team
                img(src="img/team.png", alt="")

            .score-score
                span 17 
                span - 
                span 38

            .score-logo_team
                img(src="img/team.png", alt="")