.statistics_teams
    .statistics_teams-item.statistics_teams-middle
        .statistics_teams-head
            .statistics_teams-team
                .team_card
                    p ВВА
                    img(src="img/team.png", alt="")

            .statistics_teams-title.statistics_teams-desctop
                h3 Статистика матча

            .statistics_teams-team
                .team_card
                    img(src="img/team.png", alt="")
                    p КЯР

        .statistics_teams-body
            .statistics_horizontal
                ul
                    li.statistics_horizontal-item
                        .statistics_horizontal-param_name
                            p Владение мячом
                        .statistics_horizontal-param_left 
                            p 33%

                        .statistics_horizontal-lines
                            .statistics_horizontal-line.statistics_horizontal-line-gray(style="width: calc(33% - 3px);")
                            .statistics_horizontal-line.statistics_horizontal-line-blue(style="width: calc(67% - 3px);")

                        .statistics_horizontal-param_right 
                            p 67%

                    li.statistics_horizontal-item
                        .statistics_horizontal-param_name
                            p Удары по воротам
                        .statistics_horizontal-param_left 
                            p 5

                        .statistics_horizontal-lines
                            .statistics_horizontal-line.statistics_horizontal-line-gray(style="width: calc(36% - 3px);")
                            .statistics_horizontal-line.statistics_horizontal-line-blue(style="width: calc(64% - 3px);")

                        .statistics_horizontal-param_right 
                            p 9

                    li.statistics_horizontal-item
                        .statistics_horizontal-param_name
                            p Удары в створ
                        .statistics_horizontal-param_left 
                            p 5

                        .statistics_horizontal-lines
                            .statistics_horizontal-line.statistics_horizontal-line-gray(style="width: calc(36% - 3px);")
                            .statistics_horizontal-line.statistics_horizontal-line-blue(style="width: calc(64% - 3px);")

                        .statistics_horizontal-param_right 
                            p 9

                    li.statistics_horizontal-item
                        .statistics_horizontal-param_name
                            p Удары по воротам
                        .statistics_horizontal-param_left 
                            p 5

                        .statistics_horizontal-lines
                            .statistics_horizontal-line.statistics_horizontal-line-gray(style="width: calc(36% - 3px);")
                            .statistics_horizontal-line.statistics_horizontal-line-blue(style="width: calc(64% - 3px);")

                        .statistics_horizontal-param_right 
                            p 9

                    li.statistics_horizontal-item
                        .statistics_horizontal-param_name
                            p Удары в створ
                        .statistics_horizontal-param_left 
                            p 5

                        .statistics_horizontal-lines
                            .statistics_horizontal-line.statistics_horizontal-line-gray(style="width: calc(36% - 3px);")
                            .statistics_horizontal-line.statistics_horizontal-line-blue(style="width: calc(64% - 3px);")

                        .statistics_horizontal-param_right 
                            p 9

                    li.statistics_horizontal-item
                        .statistics_horizontal-param_name
                            p Удары по воротам
                        .statistics_horizontal-param_left 
                            p 5

                        .statistics_horizontal-lines
                            .statistics_horizontal-line.statistics_horizontal-line-gray(style="width: calc(36% - 3px);")
                            .statistics_horizontal-line.statistics_horizontal-line-blue(style="width: calc(64% - 3px);")

                        .statistics_horizontal-param_right 
                            p 9

                    li.statistics_horizontal-item
                        .statistics_horizontal-param_name
                            p Удары в створ
                        .statistics_horizontal-param_left 
                            p 5

                        .statistics_horizontal-lines
                            .statistics_horizontal-line.statistics_horizontal-line-gray(style="width: calc(36% - 3px);")
                            .statistics_horizontal-line.statistics_horizontal-line-blue(style="width: calc(64% - 3px);")

                        .statistics_horizontal-param_right 
                            p 9

                    li.statistics_horizontal-item
                        .statistics_horizontal-param_name
                            p Удары по воротам
                        .statistics_horizontal-param_left 
                            p 5

                        .statistics_horizontal-lines
                            .statistics_horizontal-line.statistics_horizontal-line-gray(style="width: calc(36% - 3px);")
                            .statistics_horizontal-line.statistics_horizontal-line-blue(style="width: calc(64% - 3px);")

                        .statistics_horizontal-param_right 
                            p 9

                    li.statistics_horizontal-item
                        .statistics_horizontal-param_name
                            p Удары в створ
                        .statistics_horizontal-param_left 
                            p 5

                        .statistics_horizontal-lines
                            .statistics_horizontal-line.statistics_horizontal-line-gray(style="width: calc(36% - 3px);")
                            .statistics_horizontal-line.statistics_horizontal-line-blue(style="width: calc(64% - 3px);")

                        .statistics_horizontal-param_right 
                            p 9

    .statistics_teams-item.statistics_teams-small
        .statistics_teams-head.statistics_teams-desctop
            .statistics_teams-team
                .team_card
                    p ВВА
                    img(src="img/team.png", alt="")

            .statistics_teams-title 
                h3 Захваты

            .statistics_teams-team
                .team_card
                    img(src="img/team.png", alt="")
                    p КЯР

        .statistics_teams-head.statistics_teams-head--center.statistics_teams-mobile
            .statistics_teams-title 
                h3 Захваты

        .statistics_teams-body
            .statistics_circle
                .row
                    .col-sm-6
                        .statistics_circle-item

                            .statistics_teams-mobile
                                .team_card
                                    img(src="img/team.png", alt="")
                                    p ВВА

                            .round_chart
                                .round_chart-layer-under(style="transform: rotate(122deg)")
                                
                                    svg(viewBox="0 0 100 100").round_chart-shape
                                        circle(cx="50", cy="50", r="40", stroke="#D9D9D9", style="stroke-dashoffset: 150px;").round_chart-layer

                                .round_chart-layer-above
                                
                                    svg(viewBox="0 0 100 100").round_chart-shape
                                        circle(cx="50", cy="50", r="40", stroke="#1E0E47", style="stroke-dashoffset: 105px;").round_chart-layer

                                .round_chart-data
                                    .round_chart-data-left
                                        p 121/146
                                    .round_chart-data-right
                                        p 83%
                    .col-sm-6
                        .statistics_circle-item

                            .statistics_teams-mobile
                                .team_card
                                    img(src="img/team.png", alt="")
                                    p КЯР

                            .round_chart
                                .round_chart-layer-under(style="transform: rotate(122deg)")
                                
                                    svg(viewBox="0 0 100 100").round_chart-shape
                                        circle(cx="50", cy="50", r="40", stroke="#D9D9D9", style="stroke-dashoffset: 150px;").round_chart-layer

                                .round_chart-layer-above
                                
                                    svg(viewBox="0 0 100 100").round_chart-shape
                                        circle(cx="50", cy="50", r="40", stroke="#1E0E47", style="stroke-dashoffset: 105px;").round_chart-layer

                                .round_chart-data
                                    .round_chart-data-left
                                        p 119/143
                                    .round_chart-data-right
                                        p 85%

    .statistics_teams-item.statistics_teams-small
        .statistics_teams-head
            .statistics_teams-team
                .team_card
                    p ВВА
                    img(src="img/team.png", alt="")

            .statistics_teams-title 
                h3 Дисциплина

            .statistics_teams-team
                .team_card
                    img(src="img/team.png", alt="")
                    p КЯР

        .statistics_teams-body
            .discipline
                .discipline-item
                    .discipline-left
                        b 0

                    .discipline-option
                        p Красные карточки

                    .discipline-right
                        b 1
                .discipline-item
                    .discipline-left
                        b 1

                    .discipline-option
                        p Желтые карточки

                    .discipline-right
                        b 1
                .discipline-item
                    .discipline-left
                        b 1

                    .discipline-option
                        p Нарушений

                    .discipline-right
                        b 2