.content
    //- <iframe src="https://www.youtube.com/embed/Rb0UmrCXxVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    p Оба соперника провели два матча в текущем розыгрыше PARI Чемпионата России по регби. «ВВА-Подмосковье» победило «Металлург» со счётом 15:10, а в своей следующей игре проиграли своей следующей игре проиграли «Красному Яру» со счётом 17:38. Московское «Динамо» в первом своем матче Московское «Динамо» в первом своем матче уступило «Енисею-СТМ» со счётом 21:52, а затем реабилитировалось в матче против «Химика».