doctype html
html(lang="ru")
    head
        include base/head.pug
    body
        include base/header.pug

        main.page 
            .wrapper

                .page-header.page-header--breadcrumps_mobile_top_left.page-header--mbreadcrumps_hide

                    .page-title
                        h1 Противодействие коррупции
                    .page-breadcrumps
                        +breadcrumps([
                            {
                                "href": 'index.html',
                                "name": "Главная"
                            },
                            {
                                "name": "Противодействие коррупции"
                            }
                        ])

            .page-body

                .wrapper.wrapper-small
                    
                    article
                        .content.content-single
                            p Деятельность ООО «Федерация регби России» в области противодействия коррупции осуществляется в соответствии с требованиями Федерального закона от 25 декабря 2008 года №273-ФЗ «О противодействии коррупции» и в рамках внутренних документов.
                            p В целях реализации мер по повышению эффективности противодействия коррупции, закрепления принципов и норм этичного делового поведения работников Федерации,
                            p Приказом Генерального директора – Председателя Правления  от «24» сентября 2021 г. № 42 «Об утверждении документов по противодействию коррупции и о назначении лиц, ответственных за работу по профилактике коррупционных и иных правонарушений» введены в действие следующие документы:
                            p 
                                a(href="#") Антикоррупционная политика

                            p 
                                a(href="#") Кодекс этики и служебного поведения работников

                            p В целях реализации антикоррупционных мероприятий, проводимых ООО «Федерация регби России», соблюдения норм Кодекса этики и служебного поведения работников, формирования нетерпимости к коррупционному поведению, а также в целях минимизации и ликвидации последствий коррупционных правонарушений организована работа с обращениями.

                            p Для приема обращений от работников Федерации и третьих лиц используются:
                            p - электронная почта: anticorruption@rugby.ru
                            p - форма обратной связи
                            p Конфиденциальность обращения гарантирована.

                            .content-button
                                +button('button button-lite_square', 'Написать нам')     

        include base/footer.pug 