-
    persons = [
        "",
        "",
        "",
    ]

doctype html
html(lang="ru")
    head
        include base/head.pug
    body
        include base/header.pug

        main.page.page-national_team 
            .wrapper

                .page-header.page-header--breadcrumps_mobile_top_left.national_team-header

                    .page-title.page-title--medium
                        h1 Женская сборная Регби-7
                    .page-breadcrumps.news_single-breadcrumps
                        +breadcrumps([
                            {
                                "href": 'index.html',
                                "name": "Главная"
                            },
                            {
                                "name": "Женская сборная Регби-7"
                            }
                        ])

                .page-body
                    
                    
                    .national_team
                        .national_team-aside 
                            aside 
                                .widget.widget-content
                                    .widget-body
                                        .widget-content--description
                                            p Женская сборная России по регби-7 — женская национальная сборная, представляющая Россию на чемпионатах мира, чемпионатах Европы и Мировых сериях по регби-7. Управляется Федерацией регби России. Сборная России является семикратной чемпионкой Европы (2013, 2014, 2016[3], 2017[4], 2018[5], 2019 и 2021 годов), а также чемпионкой Универсиады 2013 года. Регулярный участник Мировой серии среди женщин как «команда ядра». Участник Олимпийских игр 2020 в Токио.
                                            button.widget-content--open#wc_open_description ещё
                                        ul.widget-content-rewards
                                            li
                                                .reward
                                                    p Чемпион Европы по регби-7 среди женщин 2013, 2014, 2016, 2017, 2018, 2019, 2021

                                            li
                                                .reward
                                                    p Участник Кубка мира по регби-7 2009, 2013, 2018

                                            li
                                                .reward
                                                    p Участник Мировой серии по регби-7 среди женщин 2014/2015, 2015/2016, 2016/2017, 2017/2018, 2018/2019

                                        .widget-content-links
                                            b Турниры

                                            ul
                                                li 
                                                    a(href="#") Чемпион Европы по регби-7

                                                li 
                                                    a(href="#") Кубок мира по регби-7

                            
                        .national_team-content
                            article
                                .national_team-category
                                    .section_title
                                        h2 Нападающие

                                .national_team-list
                                    .row

                                        each item in persons

                                            .col-md-4.col-sm-6.national_team-item
                                                .person_preview
                                                    a(href="#") 
                                                        .person_preview-thumbnail
                                                            img(src="img/player-preview.jpg", alt="")

                                                        .person_preview-content
                                                            .person_preview-title
                                                                h3 Яна Данилова
                                                            .person_preview-position
                                                                p Левый столб

                                .national_team-category
                                    .section_title
                                        h2 Другая позиция

                                .national_team-list
                                    .row

                                        each item in persons

                                            .col-md-4.col-sm-6.national_team-item
                                                .person_preview
                                                    a(href="#") 
                                                        .person_preview-thumbnail
                                                            img(src="img/player-preview.jpg", alt="")

                                                        .person_preview-content
                                                            .person_preview-title
                                                                h3 Яна Данилова
                                                            .person_preview-position
                                                                p Левый столб


        include base/footer.pug 