doctype html
html(lang="ru")
    head
        include base/head.pug
    body
        include base/header.pug

        main.page.page-news 
            .wrapper

                .page-header.page-header--breadcrumps_mobile_top_left.page-header--mbreadcrumps_hide
                    .page-title.page-title--sm-medium
                        h1 Новости
                    .page-breadcrumps
                        +breadcrumps([
                            {
                                "href": 'index.html',
                                "name": "Главная"
                            },
                            {
                                "name": "Новости"
                            }
                        ])

                .page-body
                    .news
                        .news-date.news-desctop
                            .section_title
                                h2 12 июля

                        .news-list
                            .row 
                                .col-md-6.news-item.news-desctop
                                    +post( 'img/news.jpg', '30-31 июля пройдёт Чемпионат России по пляжному регби', '12 июля', '', '30-31 июля в Москве в ЦПВС «Динамо» пройдёт Чемпионат России по пляжному регби  среди мужских и женских команд.')

                                .col-md-6.news-item.news-mobile
                                    +post( 'img/news.jpg', '30-31 июля пройдёт Чемпионат России по пляжному регби', '12 июля', 'post-big')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', '', 'Контрольно-дисциплинарный комитет Федерации регби России рассмотрел рапорт АНО «ЦПС» об отмене матча между РК ЦСКА и РК «Слава» Чемпионата молодежных команд по регби среди ')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '30-31 июля пройдёт Чемпионат России по пляжному регби', '12 июля', '', '30-31 июля в Москве в ЦПВС «Динамо» пройдёт Чемпионат России по пляжному регби  среди мужских и женских команд.')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', '', 'Контрольно-дисциплинарный комитет Федерации регби России рассмотрел рапорт АНО «ЦПС» об отмене матча между РК ЦСКА и РК «Слава» Чемпионата молодежных команд по регби среди ')
                                
                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '30-31 июля пройдёт Чемпионат России по пляжному регби', '12 июля', '', '30-31 июля в Москве в ЦПВС «Динамо» пройдёт Чемпионат России по пляжному регби  среди мужских и женских команд.', 'camera')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', '', 'Контрольно-дисциплинарный комитет Федерации регби России рассмотрел рапорт АНО «ЦПС» об отмене матча между РК ЦСКА и РК «Слава» Чемпионата молодежных команд по регби среди ')

                        .news-date
                            .section_title
                                h2 11 июля

                        .news-list
                            .row 
                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '30-31 июля пройдёт Чемпионат России по пляжному регби', '11 июля', '', '30-31 июля в Москве в ЦПВС «Динамо» пройдёт Чемпионат России по пляжному регби  среди мужских и женских команд.')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '11 июля', '', 'Контрольно-дисциплинарный комитет Федерации регби России рассмотрел рапорт АНО «ЦПС» об отмене матча между РК ЦСКА и РК «Слава» Чемпионата молодежных команд по регби среди ')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '30-31 июля пройдёт Чемпионат России по пляжному регби', '11 июля', '', '30-31 июля в Москве в ЦПВС «Динамо» пройдёт Чемпионат России по пляжному регби  среди мужских и женских команд.')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '11 июля', '', 'Контрольно-дисциплинарный комитет Федерации регби России рассмотрел рапорт АНО «ЦПС» об отмене матча между РК ЦСКА и РК «Слава» Чемпионата молодежных команд по регби среди ')
                                
                        .news-date
                            .section_title
                                h2 10 июля

                        .news-list
                            .row 
                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '30-31 июля пройдёт Чемпионат России по пляжному регби', '10 июля', '', '30-31 июля в Москве в ЦПВС «Динамо» пройдёт Чемпионат России по пляжному регби  среди мужских и женских команд.')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '10 июля', '', 'Контрольно-дисциплинарный комитет Федерации регби России рассмотрел рапорт АНО «ЦПС» об отмене матча между РК ЦСКА и РК «Слава» Чемпионата молодежных команд по регби среди ')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '30-31 июля пройдёт Чемпионат России по пляжному регби', '10 июля', '', '30-31 июля в Москве в ЦПВС «Динамо» пройдёт Чемпионат России по пляжному регби  среди мужских и женских команд.')

                        .news-date
                            .section_title
                                h2 09 июля

                        .news-list
                            .row 
                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '30-31 июля пройдёт Чемпионат России по пляжному регби', '09 июля', '', '30-31 июля в Москве в ЦПВС «Динамо» пройдёт Чемпионат России по пляжному регби  среди мужских и женских команд.')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '09 июля', '', 'Контрольно-дисциплинарный комитет Федерации регби России рассмотрел рапорт АНО «ЦПС» об отмене матча между РК ЦСКА и РК «Слава» Чемпионата молодежных команд по регби среди ')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '30-31 июля пройдёт Чемпионат России по пляжному регби', '09 июля', '', '30-31 июля в Москве в ЦПВС «Динамо» пройдёт Чемпионат России по пляжному регби  среди мужских и женских команд.')

                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '09 июля', '', 'Контрольно-дисциплинарный комитет Федерации регби России рассмотрел рапорт АНО «ЦПС» об отмене матча между РК ЦСКА и РК «Слава» Чемпионата молодежных команд по регби среди ')
                                
                                .col-md-6.news-item
                                    +post( 'img/news.jpg', '30-31 июля пройдёт Чемпионат России по пляжному регби', '09 июля', '', '30-31 июля в Москве в ЦПВС «Динамо» пройдёт Чемпионат России по пляжному регби  среди мужских и женских команд.', 'camera')

                .page-footer
                    .page_footer
                        .page_footer-flexbox.page_footer-jcsb
                            .page_footer-col
                            .page_footer-col
                                .pagination
                                    ul
                                        li 
                                            span 1
                                        li 
                                            a(href="#") 
                                                span 2
                                        li 
                                            a(href="#") 
                                                span 3
                                        li 
                                            span.pagination-dots= "..."
                                        li 
                                            a(href="#") 
                                                span 45
                                        li 
                                            a(href="#") 
                                                span 46
                                        li 
                                            a(href="#").pagination-right
                                                +icon('angle-bottom')

        include base/footer.pug 