doctype html
html(lang="ru")
    head
        include base/head.pug
    body
        include base/header.pug

        main.page.page-hall_fame 
            .wrapper

                .page-header.page-header--breadcrumps_mobile_top_left

                    .page-title.hall_fame-title
                        h1 Документы
                    .page-breadcrumps.news_single-breadcrumps
                        +breadcrumps([
                            {
                                "href": 'index.html',
                                "name": "Главная"
                            },
                            {
                                "name": "Документы"
                            }
                        ])

                    
                    //- .content_tabs-header_search.content_tabs-mobile
                    //-     .search_block.js-search_block
                    //-         form(action="")
                    //-             .search_block-input
                    //-                 input(type="text", placeholder="Поиск документа")
                    //-             button.button.button-askew
                    //-                 div
                    //-                 span 
                    //-                     +icon('lupe')

            .page-body

                .wrapper.wrapper-small
                    .content_tabs
                        .content_tabs-head 
                            .content_tabs-desctop
                                .content_tabs-flexbox
                                    .content_tabs-tabs
                                        .tabs.js-tabs
                                            ul
                                                li(data-for="all") Карта
                                                li(data-for="all") Департамент
                                                li(data-for="all") Комитет
                                                li(data-for="all") Документы
                                                li(data-for="all").active Вопросы
                                    //- .content_tabs-search
                                    //-     .search_block.search_block-static
                                    //-         form(action="")
                                    //-             .search_block-input
                                    //-                 input(type="text", placeholder="Поиск документа")
                                    //-             button.button.button-askew.button-askew-lite
                                    //-                 div
                                    //-                 span 
                                    //-                     +icon('lupe')

                            .content_tabs-mobile
                                .content_tabs-tabs
                                    select
                                        option Карта
                                        option Департамент
                                        option Комитет
                                        option Документы
                                        option(selected="selected") Вопросы

                        .content_tabs-body
                            .row
                                

                                .col-lg-10.offset-lg-1
                                    .faq
                                        .faq-item
                                            .faq-question
                                                p Как я могу создать региональную организацию и получить аккредитацию?

                                            .faq-answer
                                                p Предоставление грантов ФРР определяется «Положением о предоставлении грантов Федерацией регби России (безвозмездном, безвозвратном субсидировании материальных средств на целевой основе) членам Общероссийской общественной организации Федерации регби России, осуществляющим деятельность в области популяризации и развития регби в субъектах Российской Федерации».

                                                p Возможные направления использования гранта:

                                                p · Развитие «Школьной регбийной лиги»;

                                                p · Инвентарь для проведения учебно-тренировочных мероприятий;

                                                p · Организация и проведение соревнований/турниров/матчей;

                                                p · Иные, предусмотренные уставной деятельностью организации, расходы.

                                                p С Положением можно ознакомиться на официальном сайте ФРР в разделе «Документы».
                                        
                                        .faq-item
                                            .faq-question
                                                p Для чего необходима аккредитация, и какую при ее наличии поддержку я могу получить от органов власти региона?

                                            .faq-answer
                                                p Предоставление грантов ФРР определяется «Положением о предоставлении грантов Федерацией регби России (безвозмездном, безвозвратном субсидировании материальных средств на целевой основе) членам Общероссийской общественной организации Федерации регби России, осуществляющим деятельность в области популяризации и развития регби в субъектах Российской Федерации».

                                                p Возможные направления использования гранта:

                                                p · Развитие «Школьной регбийной лиги»;

                                                p · Инвентарь для проведения учебно-тренировочных мероприятий;

                                                p · Организация и проведение соревнований/турниров/матчей;

                                                p · Иные, предусмотренные уставной деятельностью организации, расходы.

                                                p С Положением можно ознакомиться на официальном сайте ФРР в разделе «Документы».

                                        .faq-item.open
                                            .faq-question
                                                p Как получить Грант от Федерации регби России

                                            .faq-answer.open
                                                p Предоставление грантов ФРР определяется «Положением о предоставлении грантов Федерацией регби России (безвозмездном, безвозвратном субсидировании материальных средств на целевой основе) членам Общероссийской общественной организации Федерации регби России, осуществляющим деятельность в области популяризации и развития регби в субъектах Российской Федерации».

                                                p Возможные направления использования гранта:

                                                p · Развитие «Школьной регбийной лиги»;

                                                p · Инвентарь для проведения учебно-тренировочных мероприятий;

                                                p · Организация и проведение соревнований/турниров/матчей;

                                                p · Иные, предусмотренные уставной деятельностью организации, расходы.

                                                p С Положением можно ознакомиться на официальном сайте ФРР в разделе «Документы».

                                        .faq-item
                                            .faq-question
                                                p Какие шаги мне нужно предпринять для создания «Школьной регбийной лиги»?

                                            .faq-answer
                                                p Предоставление грантов ФРР определяется «Положением о предоставлении грантов Федерацией регби России (безвозмездном, безвозвратном субсидировании материальных средств на целевой основе) членам Общероссийской общественной организации Федерации регби России, осуществляющим деятельность в области популяризации и развития регби в субъектах Российской Федерации».

                                                p Возможные направления использования гранта:

                                                p · Развитие «Школьной регбийной лиги»;

                                                p · Инвентарь для проведения учебно-тренировочных мероприятий;

                                                p · Организация и проведение соревнований/турниров/матчей;

                                                p · Иные, предусмотренные уставной деятельностью организации, расходы.

                                                p С Положением можно ознакомиться на официальном сайте ФРР в разделе «Документы».
                
            .page-footer
                .wrapper.wrapper-small
                    .page_footer
                        .page_footer-flexbox.page_footer-jcsb
                            .page_footer-col
                                +social_networks()
                            .page_footer-col
                                +button('button button-lite_square', 'Написать нам')
                        
                    

        include base/footer.pug 