doctype html
html(lang="ru")
    head
        include base/head.pug
    body
        include base/header.pug

        main.page 
            .wrapper

                .page-header.page-header--breadcrumps_mobile_top_left.page-header--mbreadcrumps_hide

                    .page-title
                        h1 Опрос: Противодействие коррупции
                    .page-breadcrumps
                        +breadcrumps([
                            {
                                "href": 'index.html',
                                "name": "Главная"
                            },
                            {
                                "name": "Противодействие коррупции"
                            }
                        ])

            .page-body

                .wrapper.wrapper-small
                    
                    article
                        .content.content-single
                            p Деятельность ООО «Федерация регби России» в области противодействия коррупции осуществляется в соответствии с требованиями Федерального закона от 25 декабря 2008 года №273-ФЗ «О противодействии коррупции» и в рамках внутренних документов.
                            
                            .quiz 
                                .quiz-title
                                    p Вопрос: Надо ли противодействовать коррупции?

                                .quiz-result
                                    .quiz-answer_result
                                        span 100%
                                        div
                                            p Да
                                            span(style="width: 95%")

                                    .quiz-answer_result
                                        span 0%
                                        div
                                            p Нет
                                            span(style="width: 0%")

                                    .quiz-answer_result
                                        span 5%
                                        div 
                                            p Не знаю
                                            span(style="width: 5%")

                                .quiz-footer
                                    p 154 голосов


        include base/footer.pug 