doctype html
html(lang="ru")
    head
        include base/head.pug
    body
        include base/header.pug

        main.page.page-news 
            .wrapper

                .page-header.page-header--breadcrumps_mobile_top_left.news_single-header

                    .news_single-date
                        time 12 июля
                    .page-title.page-title--medium.news_single-title
                        h1 30 июля пройдёт Чемпионат России по пляжному регби
                    .page-breadcrumps.news_single-breadcrumps
                        +breadcrumps([
                            {
                                "href": 'index.html',
                                "name": "Главная"
                            },
                            {
                                "href": "news.html",
                                "name": "Новости"
                            },
                            {
                                "name": "30 июля пройдёт Чемпионат России по пляжному регби"
                            }
                        ])

                    .page-return_back.news_single-return_back

                        a(href="news.html").button.button-back
                            +icon('arrow-left')
                            span Все новости

                .page-body
                    .news_single

                        article.news_single-content
                            .content    
                                figure.wp-block-image
                                    img(src="img/news_single.jpg", alt="")
                                    figcaption.wp-element-caption Виктория Эм заносит попытку в матче с Кубанью" (с) Виктор Коновол / ФРР

                                h3 30-31 июля в Москве в ЦПВС «Динамо» пройдёт Чемпионат России по пляжному регби  среди мужских и женских команд.

                                p Оба соперника провели два матча в текущем розыгрыше PARI Чемпионата России по регби. «ВВА-Подмосковье» победило «Металлург» со счётом 15:10, а в своей следующей игре проиграли своей следующей игре проиграли «Красному Яру» со счётом 17:38. Московское «Динамо» в первом своем матче Московское «Динамо» в первом своем матче уступило «Енисею-СТМ» со счётом 21:52, а затем реабилитировалось в матче против «Химика», в котором победило со счётом 35:12. В турнирной таблице «бело-голубые» расположились выше за счёт бонусного очка, полученного в игре против «Химика». Прямую трансляцию встречи покажет телеканал Матч!Игра, а также официальный YouTube-канал Федерации регби России.  Вряд ли исход этой встречи у кого-то вызывает сомнения. «Енисей-СТМ» - сильнейшая команда России на данный момент, «Химик» же только в начале своего пути, хотя две предыдущих встречи против «Динамо» и «Слава» показали, что собранный буквально за неделю до чемпионата коллектив, очень скоро начнет трепать нервы своим соперникам. По крайней мере, работа австралийского наставника Джона Молвихилла видна уже сейчас, хотя состав собирали буквально по крупицам.

                                p 
                                    b В мужской части финала примут участие пятнадцать команд, среди которых сразу пять дебютантов турнира.

                                p РК «Энергия» (г. Казань) – 1 место финала 2021 года;<br> Сборная Самарской области – 2 место финала 2021 года;<br> Сборная Республики Дагестан – 3 место финала 2021 года;<br> РК «ЦСКА» (г. Москва); <br> РК «Витязь» (г. Пермь); <br> РК «Динамо-2» (г. Москва); <br> РК «Харугва» (г. Минск, Беларусь); <br> РК «Зеленоград»; <br> РК «Балтийский шторм» (г. Калининград); <br> РК «Варяг» (г. Великий Новгород); <br> РК «Ростов» - дебютанты турнира; <br> РК «Университет» (г. Чита) – дебютанты турнира; <br> РК «Казань» (г. Казань) – дебютанты турнира; <br> РК «Сибирь» (г. Новосибирск) – дебютанты турнира; <br> РК «Таганий Рог» (г. Таганрог) – дебютанты турнира; 

                                .news_single-mobile
                                    .news_single-social_networks
                                        +social_networks()

                        .news_single-aside
                            aside.sidebar
                                .widget
                                    .widget-body
                                        .news_single-news_list 
                                            .news_single-news_item
                                                +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', 'post-small_font', 'Контрольно-дисциплинарный комитет Федерации регби ')

                                            .news_single-news_item
                                                +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', 'post-small_font', 'Контрольно-дисциплинарный комитет Федерации регби ')

                                            .news_single-news_item
                                                +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', 'post-small_font', 'Контрольно-дисциплинарный комитет Федерации регби ')

                                            .news_single-news_item
                                                +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', 'post-small_font', 'Контрольно-дисциплинарный комитет Федерации регби ', 'play')

                                            .news_single-news_item
                                                +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', 'post-small_font', 'Контрольно-дисциплинарный комитет Федерации регби ', 'camera')

                                            .news_single-news_item
                                                +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', 'post-small_font', 'Контрольно-дисциплинарный комитет Федерации регби ')

                                            .news_single-news_item
                                                +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', 'post-small_font', 'Контрольно-дисциплинарный комитет Федерации регби ')

                                            .news_single-news_item
                                                +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', 'post-small_font', 'Контрольно-дисциплинарный комитет Федерации регби ')

                                            .news_single-news_item
                                                +post( 'img/news.jpg', '“Слава-м” одержала техническую победу над ЦСКА-м', '12 июля', 'post-small_font', 'Контрольно-дисциплинарный комитет Федерации регби ')

                    
                        
                .page-footer.news_single-desctop
                    .page_footer
                        .page_footer-flexbox.page_footer-jcsb
                            .page_footer-col
                                +social_networks()
                            .page_footer-col

        include base/footer.pug 