include base/_mixins.pug

-
    players_statistic = [
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
    ];

- 
    referees_option = [
        "Главный арбитр",
        "Помощник",
        "Помощник",
        "Резервный рефери",
        "Видео-рефери",
        "Комиссар матча",
    ];

- 
    referees_value = [
        "Артур Каптюх",
        "Алексей Лебедев",
        "Алексей Куликов",
        "Алексей Брызгалин",
        "Михаил Лебедев",
        "Сергей Марков",
    ];

doctype html
html(lang="ru")
    head
        include base/head.pug
    body
        include base/header.pug

        main.page.page-gray_title.page-match_single
            .wrapper
                
                include match_single/header.pug

            .page-body
                article.match_single.match_single-has_information
                    .wrapper
                        section.match_single-teams 
                            .teams_single
                                ul.teams_single-strokes
                                    li.teams_single-stroke_second Красноярск
                                    li.teams_single-stroke_primary 16.08.2022  <span>|</span>  PARI Чемпионат России  <span>|</span>  1 тур
                                    li.teams_single-stroke_second Арена-Север

                                .teams_single-info
                                    .teams_single-team
                                        p ВВА-Подмосковье
                                        img(src="img/team.png", alt="")

                                    .teams_single-middle
                                        .teams_single-score
                                            p 
                                                span 17 
                                                span - 
                                                span 38


                                    .teams_single-team
                                        img(src="img/team.png", alt="")
                                        p Красный Яр

                                    .teams_single-full
                                        .teams_single-meta
                                            ul 
                                                li 16:00 мск 
                                                li Тайм 1:  <b>11 - 18</b> 
                                                li.teams_single-is_on 
                                                    p Матч идёт
                                                    img(src="img/youtube-icon.svg", alt="") 
                                                //- li Завершен

                    section.match_single-actions.information-desctop
                        .match_result
                            .match_result-item
                                .match_result-left
                                    ul 
                                        li Александр Давыдов (58')    
                                        li Александр Иванов (25’ <b>штр.</b>)
                                    ul
                                        li Евгений Кароннов (44')
                                        li Дмитрий Кровяков (44')

                                .match_result-action
                                    b Попытки

                                .match_result-right
                                    ul 
                                        li Евгений Гольштейн (72')    
                                        li Даниел Джордаан (44')
                                    ul
                                        li Василий Дорофеев (21' штр.)    
                                        li Александр Ильин (72')

                            .match_result-item
                                .match_result-left
                                    ul 
                                        li Ислам Абдулкадиров (8')    
                                        li Михаил Бабаев (80')    
                                        li Заур Гасанов (10', 82')
                                    ul
                                        li Александр Давыдов (22', 51', 73')

                                .match_result-action
                                    b Реализации

                                .match_result-right
                                    ul 
                                        li Григорий Цнобиладзе (78')    
                                        li Роберт Сутидзе (79')    
                                        li Евгений Пронин (36')
                                    ul
                                        li Александр Ильин (75')    
                                        li Роман Ходин (54')

                            .match_result-item
                                .match_result-left
                                    ul 
                                        li Даниил Крылаткин (44')
                                        li Артем Марченко (44')

                                .match_result-action
                                    b Штрафные

                                .match_result-right
                                    ul 
                                        li Джейсон Таумалоло (15')    
                                        li Евгений Непейвода (38')

                            .match_result-item
                                .match_result-left
                                    ul 
                                        li Егор Кулешов (44')

                                .match_result-action
                                    b Дроп-голы

                                .match_result-right

                            .match_result-item
                                .match_result-left
                                    ul 
                                        li Арноут Малербе (44')    
                                        li.ms_fine Артем Марченко (44') <div class="fine fine-yellow"></div>


                                .match_result-action
                                    b Карточки

                                .match_result-right
                                    ul 
                                        li.ms_fine <div class="fine fine-red"></div> Алексей Цейцин (58')  
                                        li.ms_fine <div class="fine fine-yellow"></div> Владимир Руденко (64')

                            .match_result-item
                                .match_result-button
                                    button.button.button-white.button-compact Отчёт

                    section.match_single-information
                        .match_single-information-pseudo
                        .wrapper
                            .information-container
                                .information#information

                                    +information_tabs([
                                        {
                                            "for": "#translation",
                                            "classes": "active",
                                            "name": "Трансляция",
                                        },
                                        {
                                            "for": "#match_summary",
                                            "classes": "information-mobile",
                                            "name": "Краткая сводка",
                                        },
                                        {
                                            "for": "#consists",
                                            "classes": "",
                                            "name": "Составы",
                                        },
                                        {
                                            "for": "#progress",
                                            "classes": "",
                                            "name": "Ход матча",
                                        },
                                        {
                                            "for": "#statistics-players",
                                            "classes": "",
                                            "name": "Статистика игроков",
                                        },
                                        {
                                            "for": "#statistics-teams",
                                            "classes": "",
                                            "name": "Статистика команд",
                                        },
                                        {
                                            "for": "#referees",
                                            "classes": "",
                                            "name": "Судьи",
                                        },
                                        {
                                            "for": "#game_table",
                                            "classes": "",
                                            "name": "Таблица",
                                        }
                                    ])

                                    .information-blocks
                                        .information-block.js-information-block.information-translation.active#translation

                                            include match_single/translation.pug  

                                        .information-block.js-information-block.information-match_summary#match_summary 

                                            .match_summary-header
                                                .switcher.js-switcher
                                                    ul
                                                        li.active(data-for="#match_summary_left") ВВА-Подмосковье
                                                        li(data-for="#match_summary_right") Красный Яр

                                            .switcher-block.js-switcher-block.active#match_summary_left
                                                .match_summary
                                                    ul
                                                        li 
                                                            b Попытки 
                                                            ul
                                                                li <span>Александр Давыдов (58')    </span>
                                                                li <span>Александр Иванов (25’ штр.)  </span>
                                                                li <span>Евгений Кароннов (44')</span>
                                                                li <span>Дмитрий Кровяков (44')</span>
    
                                                        li 
                                                            b Реализации 
                                                            ul
                                                                li <span>Александр Давыдов (58')    </span>
                                                                li <span>Александр Иванов (25’ штр.)  </span>
                                                                li <span>Евгений Кароннов (44')</span>
                                                                li <span>Дмитрий Кровяков (44')</span>
                                                        li 
                                                            b Штрафные 
                                                            ul
                                                                li <span>Александр Давыдов (58')    </span>
                                                                li <span>Александр Иванов (25’ штр.)  </span>
                                                        li 
                                                            b Дроп-голы 
                                                            ul
                                                                li <span>Александр Давыдов (58')    </span>
                                                        li 
                                                            b Карточки 
                                                            ul
                                                                li <div class="fine fine-yellow"></div> <span>Александр Давыдов (58')    </span>
                                                                li <div class="fine"></div> <span>Александр Иванов (25’ штр.)  </span>
                                            .switcher-block.js-switcher-block#match_summary_right
                                                .match_summary
                                                    ul
                                                        li 
                                                            b Попытки 2
                                                            ul
                                                                li <span>Александр Давыдов (58')    </span>
                                                                li <span>Александр Иванов (25’ штр.)  </span>
                                                                li <span>Евгений Кароннов (44')</span>
                                                                li <span>Дмитрий Кровяков (44')</span>
    
                                                        li 
                                                            b Реализации 
                                                            ul
                                                                li <span>Александр Давыдов (58')    </span>
                                                                li <span>Александр Иванов (25’ штр.)  </span>
                                                                li <span>Евгений Кароннов (44')</span>
                                                                li <span>Дмитрий Кровяков (44')</span>
                                                        li 
                                                            b Штрафные 
                                                            ul
                                                                li <span>Александр Давыдов (58')    </span>
                                                                li <span>Александр Иванов (25’ штр.)  </span>
                                                        li 
                                                            b Дроп-голы 
                                                            ul
                                                                li <span>Александр Давыдов (58')    </span>
                                                        li 
                                                            b Карточки 
                                                            ul
                                                                li <div class="fine fine-yellow"></div> <span>Александр Давыдов (58')    </span>
                                                                li <div class="fine"></div> <span>Александр Иванов (25’ штр.)  </span>
                                            
                                        .information-block.js-information-block#consists
                                        
                                            include match_single/consists.pug

                                        .information-block.js-information-block#progress
                                            
                                            include match_single/progress.pug

                                        .information-block.js-information-block#statistics-players
                                            
                                            include match_single/statistics_players.pug

                                        .information-block.js-information-block#statistics-teams

                                            include match_single/statistics_teams.pug

                                        .information-block.js-information-block#referees

                                            include match_single/referees.pug
    
                                        .information-block.js-information-block#game_table
                                            .game_table
                                                .game_table-left
                                                    .game_table-team
                                                        .team_card
                                                            p 1
                                                            img(src="img/team.png", alt="")
                                                    .game_table-team
                                                        .team_card
                                                            p 2
                                                            img(src="img/team.png", alt="")
                                                .game_table-table
                                                    table.table
                                                        thead
                                                            tr
                                                                th 
                                                                    span Место
                                                                th 
                                                                    span Команда
                                                                th 
                                                                    span Игры
                                                                th.dashed.js-column_data-source(data-content='[{"content":"Попытки"}]') 
                                                                    span В
                                                                th.dashed.js-column_data-source(data-content='[{"content":"Реализации"}]') 
                                                                    span Н
                                                                th.dashed.js-column_data-source(data-content='[{"content":"Штрафные"}]') 
                                                                    span П
                                                                th.dashed.js-column_data-source(data-content='[{"content":"Дроп-голы"}]') 
                                                                    span +
                                                                th.dashed.js-column_data-source(data-content='[{"content":"Очки"}]') 
                                                                    span -
                                                                th.dashed.js-column_data-source(data-content='[{"content":"Очки"}]') 
                                                                    span РИО
                                                                th 
                                                                    span Бонус
                                                                th 
                                                                    span Очки
                                                                th 
                                                                    span Форма
                                                                th 
                                                                    span След

                                                        tbody
                                                            tr 
                                                                td
                                                                    .game_table-position.js-column_data-source(data-content='[{"content":"Ранее №2"}]') 
                                                                        span 1
                                                                        +icon('up')
                                                                td
                                                                    .team_card
                                                                        img(src="img/team.png", alt="")
                                                                        p ВВА-Подмосковье
                                                                td 3
                                                                td 3
                                                                td 0
                                                                td 0
                                                                td 10
                                                                td 4
                                                                td 6
                                                                td(align="center") 3
                                                                td(align="center") 3
                                                                //- Форма
                                                                td 
                                                                    ul.uniforms
                                                                        li.uniforms-red.js-column_data-source(data-content='[{"content":"Попытки"}]') В
                                                                        li.uniforms-black.js-column_data-source(data-content='[{"content":"Штрафные"}]') П
                                                                        li.uniforms-gray.js-column_data-source(data-content='[{"content":"Реализации"}]') Н
                                                                        li.uniforms-red.js-column_data-source(data-content='[{"content":"Очки"}]')  В
                                                                td 
                                                                    img(src="img/team.png", alt="")

                                                            tr 
                                                                td
                                                                    .game_table-position
                                                                        span 2
                                                                        +icon('down')
                                                                td
                                                                    .team_card
                                                                        img(src="img/team.png", alt="")
                                                                        p Красный Яр
                                                                td 3
                                                                td 3
                                                                td 0
                                                                td 0
                                                                td 10
                                                                td 4
                                                                td 6
                                                                td(align="center") 3
                                                                td(align="center") 3
                                                                //- Форма
                                                                td 
                                                                    ul.uniforms
                                                                        li.uniforms-red.js-column_data-source(data-content='[{"content":"Попытки"}]') В
                                                                        li.uniforms-red.js-column_data-source(data-content='[{"content":"Очки"}]') В
                                                                        li.uniforms-gray.js-column_data-source(data-content='[{"content":"Реализации"}]') Н
                                                                td 
                                                                    img(src="img/team.png", alt="") 

                                            .game_table-reference
                                                p В - выиграно, Н - ничья, П - проигрыш, + - заработано очков, — - потеряно очков, РИО - разница игровых очков


            .page-footer
                .page_footer
                    .page_footer-flexbox.page_footer-center
                        .page_footer-col
                            +social_networks()
                        
        .column_data-container#column_data_container
        include base/footer.pug 