.front_page
    &-flexbox
        display: flex

    &-aside
        flex: 0 0 410px
        max-width: 410px
        padding-right: 26px
        position: relative
        // height: 100%

    &-content
        flex: 0 0 calc(100% - 410px)
        max-width: calc(100% - 410px)
        padding-left: 26px

    &-toggle
        margin-bottom: 32px