.content
    &--relative
        position: relative
        
    iframe
        width: 100%
        height: 400px
        margin-bottom: 40px
        line-height: 1.3

    p
        font-size: rem(15)
        margin-bottom: 1rem
        // margin-bottom: 25px
        line-height: 1.3
        b
            font-weight: 500

    a
        color: #1946B9
        text-decoration: none
        &:hover,
        &:active,
        &:focus
            color: var(--color-red)

    .wp
        &-block-image
            margin-bottom: 1rem //30px
            img
                margin-bottom: 0px

        &-element-caption
            font-size: rem(14)
            color: #655E70

        &-block-columns
            margin-bottom: 1rem //50px

    h2
        margin-bottom: 1rem// 30px
        font-size: 1.5333333333rem
        font-weight: 500

    h3
        font-size: rem(17)
        font-weight: 600
        margin-bottom: 1rem //20px
        line-height: 1.6

    h4
        margin-bottom: 1rem //15px
        font-size: rem(17) //1rem //.9333333333rem
        font-weight: 700
        
    ul
        li
            margin-bottom: 15px
            // line-height: 1.3
            &:last-child
                margin-bottom: 0

    .person-chronicle
        margin-bottom: 30px

    *:last-child
        margin-bottom: 0

    &-single
        border-left: 1px solid #E9E6EF
        padding-left: 60px
        p
            margin-bottom: 12px
            a
                text-decoration: none
                color: #1946B9
                &:hover
                    color: var(--color-red)

    &-button
        margin-top: 40px

    &--translation
        iframe
            min-width: 710px