.post
    position: relative
    display: flex
    align-items: stretch
    
    &-thumbnail
        position: relative
        max-width: 190px
        flex: 0 0 190px
        min-height: 100%
        z-index: 1
        
        a
            display: block
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            width: 100%
            height: 100%

        &::after
            content: ''
            top: 0
            bottom: 0
            left: 0
            right: 0
            width: 100%
            height: 100%
            transition: all 0 ease
            pointer-events: none
            background: linear-gradient(to top, rgba(#BD000A, 1) 0%, rgba(#ED1B26, 0) 33% )
            opacity: 0
            z-index: 10

    &-icon
        pointer-events: none
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 100%
        height: 100%
        z-index: 15
        &::before 
            content: ''
            top: 0
            bottom: 0
            left: 0
            right: 0
            width: 100%
            height: 100%
            transition: all 0 ease
            pointer-events: none

        &::before
            background: linear-gradient(to top, rgba(#1E0E47, 1) 0%, rgba(#1E0E47, 0) 33% )

        // &::after
        //     background: linear-gradient(to top, rgba(#BD000A, 1) 0%, rgba(#ED1B26, 0) 33% )
        //     opacity: 0
            
        .icon
            position: absolute
            left: 12px
            bottom: 13px
            width: 16px
            height: 16px
            color: #FFF
            z-index: 10

    &:hover
        .post-icon
            &::before
                opacity: 0
        .post-thumbnail::after
            opacity: 1
            
    &-content
        max-width: calc(100% - 190px - 16px)
        flex: 0 0 calc( 100% - 190px - 16px)
        margin-left: 16px   
        z-index: 20
        position: relative

    &-title
        margin-bottom: 12px
        h3
            font-size: 1rem
            font-weight: 500
            margin: 0


    &-description
        margin-bottom: 12px
        p
            // font-size: rem(13)
            margin: 0
            display: -webkit-box
            -webkit-box-orient: vertical
            text-overflow: ellipsis
            -webkit-line-clamp: 3
            overflow: hidden
            word-break: break-word
            b
                font-weight: 400

    &-date
        time
            // font-size: rem(13)
            color: var(--color-second-text)

    &-small_font
        .post
            &-title
                h3
                    font-size: rem(14)
                    display: -webkit-box
                    -webkit-box-orient: vertical
                    text-overflow: ellipsis
                    -webkit-line-clamp: 3
                    overflow: hidden
                    word-break: break-word

            &-description
                p
                    font-size: rem(13)

            &-date
                time
                    font-size: rem(13)
    

    a
        color: var(--color-default)
        text-decoration: none

    &--descriptions-lines--sm
        &.post-small_font
            .post-description p
                -webkit-line-clamp: 2

    &-big
        display: block
        padding-bottom: 69%
        .post
            
            &-content,
            &-thumbnail
                position: absolute
                max-width: 100%
                top: 0
                bottom: 0
                left: 0
                right: 0

            &-thumbnail
                z-index: 10
                // &::after
                //     background: linear-gradient(to top, rgba(#BD000A, 1) 0%, rgba(#ED1B26, 0) 50% )
                // &::before
                //     background: linear-gradient(to top, rgba(#1E0E47, 1) 0%, rgba(#1E0E47, 0) 50% )

            &-icon
                &::before
                    display: none

                .icon
                    top: 24px
                    left: 24px
                    width: 30px
                    height: 36px

            &-content
                z-index: 20
                margin-left: 0
                display: flex
                flex-direction: column
                justify-content: flex-end
                padding: 20px 24px
                pointer-events: none
                &::before,
                &::after
                    content: ''
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0
                    width: 100%
                    height: 100%
                    pointer-events: none
                    z-index: -1
                    transition: all 0 ease

                &::before
                    background: linear-gradient(to top, rgba(#1E0E47, 1) 0%, rgba(#1E0E47, 0) 50% )

                &::after
                    background: linear-gradient(to top, rgba(#BD000A, 1) 0%, rgba(#ED1B26, 0) 50% )
                    opacity: 0

            &-title
                order: 20
                margin-bottom: 0
                h3
                    color: #FFF
                    font-size: rem(18)
                    font-weight: 500

            &-date
                margin-bottom: 8px
                order: 10
                time
                    font-size: 1rem
                    font-weight: 500
                    color: #FFF

        &--video-media
            .post
                &-date
                    display: flex
                    align-items: center
                &-icon
                    position: relative
                    width: auto
                    top: auto
                    right: auto
                    left: auto
                    bottom: auto
                    margin-right: 13px
                    height: 21px
                    &::after
                        display: none
                    .icon
                        width: 14px
                        height: 16px
                        left: auto
                        top: auto
                        bottom: auto
                        position: relative

        &:hover
            .post-content
                &::before
                    opacity: 0

                &::after
                    opacity: 1