.match
    background-color: #fff
    width: 100%
    border-radius: 1px
    
    &-row
        display: flex
        align-items: stretch
        &:nth-child(1)
            justify-content: space-between
        &:nth-child(2)
            justify-content: center


    &-time
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 80px
        text-align: center
        margin: 0 16px
        position: relative
        white-space: nowrap
        flex-wrap: nowrap
        flex: 0 0 80px
        time
            font-size: rem(27)
            
            span.stage
                font-size: 1rem
                font-weight: 500
                display: block
                text-align: center
                margin-bottom: 6px

    &-team
        display: flex
        align-items: center
        flex: 0 0 calc(50% - 56px)
        img, span
            margin: 0 4px

        img
            width: 52px

        &:first-child
            justify-content: flex-end
            span
                text-align: right
                
    &-today
        .match
            &-time
                time
                    font-weight: 600

            &-time
                &--time time
                    font-weight: 400

    &-now
        .match
            &-time
                span:not(.stage)
                    position: relative
                    &::before
                        content: ''
                        width: 5px
                        height: 5px
                        border-radius: 50%
                        background: var(--color-red)
                        left: 0
                        top: -4px
                        right: 0
                        margin: auto

    &-platform
        margin-top: -6px
        a
            text-decoration: none
        span
            font-size: 1rem
            color: #655E70
            font-weight: 400

        img
            max-width: 64px

    &-transfered
        .match
            &-time
                time
                    color: #C55E00
                    font-size: 1rem
                    font-weight: 400


    &-mini
        box-shadow: 0 2px 16px rgba(#1F3E5E, .07)
        padding: 13px 13px 15px
        transition: all 0 ease
        position: relative
        .match
            &-team
                img, span
                    margin: 2px

                img
                    width: auto
            &-time
                width: auto
                time
                    font-size: rem(19)

            &-platform
                margin: auto
                margin-top: -1px

            &-link
                position: absolute
                z-index: 10
                top: 0
                bottom: 0
                left: 0
                right: 0
                color: transparent
                text-decoration: none

            &-tournament-name
                font-size: 13px
                text-decoration: none

        &:hover
            box-shadow: 0 2px 20px rgba(#002A54, .15)

    &-row
        &--mini-second
            justify-content: center
            align-items: center
            padding-top: 13px
            &:nth-child(1),
            &:nth-child(2)
                justify-content: center

            .match
                &-platform
                    margin: -1px 0 0 0


            &>div
                padding: 0 14px
                position: relative
                &::before
                    content: ''
                    width: 4px
                    height: 4px
                    border-radius: 50%
                    background-color: #B1ABBC
                    right: -2px
                    top: 0
                    bottom: 0
                    margin: auto

                &:last-child
                    &::before
                        display: none