.tabs
    ul
        list-style: none
        padding-left: 0
        display: flex
    
    li
        padding: 14px 18px
        border-bottom: 1px solid #E9E6EF
        font-size: rem(16)
        display: block
        cursor: pointer
        text-align: center
        &:hover
            color: var(--color-red)
        &.active
            color: var(--color-red)
            border-color: var(--color-red)

        a
            text-decoration: none

    &--links
        li
            padding: 0px
            a
                padding: 14px 18px
                display: block

    &-block
        display: none
        &.active
            display: block