.news_single
    display: flex
    &-title
        flex: 0 0 calc(100% - 490px)
        max-width: calc(100% - 490px)
        padding-left: 40px
    &-breadcrumps
        flex: 0 0 490px
        max-width: 490px

    &-content
        flex: 0 0 calc(100% - 490px)
        max-width: calc(100% - 490px)
        padding-right: 70px
    &-aside
        flex: 0 0 490px
        max-width: 490px

    &-news_item
        margin-bottom: 28px
        &:last-child
            margin-bottom: 0

    &-social_networks
        display: flex
        justify-content: center