.content_tabs
    &-head
        margin-bottom: 52px

    &-flexbox
        display: flex
        justify-content: space-between
        align-items: flex-end

    &-body
        border-bottom: 1px solid #E9E6EF
        padding-bottom: 60px
        // margin-bottom: 60px

    &-header_search
        position: absolute
        right: 17px
        top: 11px