.recall_form
    &-textarea
        margin-bottom: 20px
        textarea
            border: 2px solid #DADADA
            padding: 10px 16px
            background-color: #fff
            color: #655E70
            height: 144px
            width: 100%

    &-input
        margin-bottom: 20px
        input
            border: 2px solid #DADADA
            padding: 10px 16px
            background-color: #fff
            color: #655E70
            width: 100%

    &-agree
        margin-right: 12px
        margin-bottom: 32px

    &-footer
        display: flex
        justify-content: space-between
        align-items: flex-end