.information
    +min_lg
        &-mobile
            display: none
    +lg
        width: 100%
        margin-top: 13px
        background: transparent
        &-tournament
            margin-top: -30px
            background-color: #fff
        &-desctop
            display: none
        &-tabs
            flex-direction: column 
            justify-content: flex-start
            border: 2px solid var(--color-default)
            background-color: #fff
            border-radius: 1px
            position: relative
            height: 41px
            width: 100%
            z-index: 100
            &::before
                content: ''
                top: 0
                bottom: 0
                right: 15px
                margin: auto
                width: 16px
                height: 16px
                background-image: url(../img/icons/angle-bottom.svg)
                z-index: 10
            li
                display: none
                padding: 8px 12px
                background-color: #fff
                font-weight: 400
                flex: 0 0 100%
                width: 100%
                order: 20
                &.active
                    display: block
                    color: var(--color-default)
                    order: 10
                    &::before
                        display: none



            &.open
                &::after
                    content: ''
                    background: #FFF
                    width: 100%
                    box-shadow: 0px 2px 30px 0px rgba(31, 62, 94, 0.20)
                    top: 0
                    bottom: -73px
                    left: 0
                    right: 0
                li
                    display: block
                    z-index: 10

            &--two.open::after
                bottom: -43px
            &--three.open::after
                bottom: -73px
            &--four.open::after
                bottom: -103px
            &--five.open::after
                bottom: -133px
            &--six.open::after
                bottom: -163px
            &--seven.open::after
                bottom: -193px
            &--eight.open::after
                bottom: -193px
            &--nine.open::after
                bottom: -223px
            &--ten.open::after
                bottom: -253px

        &-translation
            &>div
                max-width: 100%

        &-archive
            display: none

    +md
        padding-left: 0
        padding-right: 0

        &-tournament
            padding-left: 12px
            padding-right: 12px

    +sm
        &-tournament
            padding-bottom: 14px
            .information-tabs
                margin-bottom: 0