.modal
    // +lg
    //     padding-top: 0
    //     &-close
    //         right: 15px
    //         top: 20px
    //     &-window
    //         padding: 30px
    //         min-width: 320px
    //         border-radius: 0

    //         .table
    //             width: calc(100% + 60px)
    //             margin-left: -30px
    //             overflow-x: auto

    +sm
        &-flex
            padding-left: 16px
            padding-right: 16px
        &-header
            // margin-top: 30px
            margin-bottom: 28px
            h1
                font-size: rem(20)

        &-window
            padding: 24px
            padding-bottom: 40px

            // .table
            //     width: calc(100% + 40px)
            //     margin-left: -20px

        