.content_tabs
    +min_lg
        &-mobile
            display: none

    +lg
        &-head
            margin-bottom: 32px
            & ~ .content_tabs-body
                .documents_section-search--mobile
                    top: -85px 
        &-desctop
            display: none

        &-tabs
            margin-bottom: 32px

        